<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>

<body>
    <h1>Playground</h1>
    <ul>
        <%for(let i=0; i<100; i++){%>
            <li><%=i%></li>
        <% } %>
    </ul>
    <% if(true){ %>
        <p>it is true</p>
    <% }else{  %>
        <p>it is false</p>
    <% } %>
</body>

</html>