div
{
    height:200px;
    width:200px;
    background-color: blue;
    position:absolute;
    top:5%;
    left:5%;
    transition:0.5s ease-in-out;
}
div:hover
{
    border-radius: 50%;
    transform: translate(200px) rotate(400deg) scale(0.5);
}