div
{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: rgb(255, 0, 0);
    /* transform: rotate(20deg); */
    /* transform: scale(1.5, 1.5); */
    /* transform: translate(100px); */
    /* transform:translate(10%, 20%); */
    /* transform:skew(20deg); */
    transition:height 0.5s ease-in-out 0.5s;
}
div:hover
{
    height:400px;
    width:300px;
}