<h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">

</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>