#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgrey;
    height: 100%; }
